<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            <div class="card mt-2 text-center">
                <div class="card-body">
                    <img src="assets/img/logotype.svg" class="w-50">
                    <h2 class="motto">Create charts by retrieving data from Stata on-the-fly</h2>
                    <div class="d-none d-md-block">
                        <img class="w-75" src="assets/img/stata_and_www.jpg">
                    </div>
                    <div class="d-block d-md-none">
                        <img class="w-100" src="assets/img/stata_and_www.jpg">
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">Getting started</div>
                <div class="card-body">
                    <div class="card-text">
                        <ol>
                            <li>Download <a href="https://sourceforge.net/projects/swire/">SWire</a></li>
                            <li>Install SWire on <a href="https://www.stata.com">Stata</a> (see <a href="https://sourceforge.net/p/swire/documentation/home/">SWire documentation</a>)</li>
                            <li>Start SWire in Stata in HTTP mode: <code>swire start</code></li>
                            <li>Open <a href="http://localhost:50000/test">http://localhost:50000/test</a> to check if the SWire HTTP server is running in HTTP mode on port 50000</li>
                            <li>Use SGraph: click on <a routerLink="/line-chart">Line chart</a> or <a routerLink="/3d-scatter">3D scatter</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



